@media only screen and (min-width:750px) {
    /*SPACE*/
    header,
    section,
    #home-slide{
        padding: 15vmax;
    }
    #news-slide{
        width: 50vw;
        overflow: hidden;
    }
    .cm-card{
        width: 200px;
        height: 300px
    }
    /*FLEX*/
    #section-news,
    #section-contact{
        flex-direction: row;
    }
    #news-slide,
    #partners-list{
        grid-auto-flow: column;
    }
}