/*FONT*/
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai|Baloo+Bhaijaan|Quicksand&display=swap');

p,a,button,header,
header *{
    font-family: 'Quicksand', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Baloo Bhai', cursive;
}
h1{
    font-size: 30px;
    text-align: center;
}
footer{
    font-size: small;
}
.cm-card h1{
    font-size: medium;
}
.cm-card p{
    font-size: medium;
}
/*COLOR*/
html,body,hr{
    background-color: #F2F2F2;
}
footer{
    background-color: #62579B;
}
header .cm-btn,
section h1{
    color: #2B569B;
}
header{
    background: linear-gradient(180deg, #2B569B 10%, rgba(43, 86, 155, 0.1) 100%);
}
#section-help{
    background-color: #2B569B;
}
.cm-btn,
#section-home h1,
#section-home p,
#section-help h1,
#section-help p,
#section-contact p,
#section-contact a,
#section-contact a:hover,
header,
header *,
header *:hover,
footer{
    color: #F2F2F2;
}
.cm-btn,
#section-contact{
    background-color: #62579B;
}
#section-contact h1{
    color: #E1B018;
}
#s-down,
#slide-arrows{
    color: #E1B018;
}
#s-down :hover,
#slide-arrows a:hover{
    color: #CDCCCC;
}
header .cm-btn,
button{
    background-color: #E1B018;
}
.cm-card{
    background-color: #ffffff;
}
/*SPACE*/
section,
footer{
    width: 100%;
}
section{
    min-height: 600px;
    padding: 1vmin 5vmax;
    margin: 0;
}
#section-home{
    padding: 0;
    width: 100%;
    height: 100vh;
}
#home-slide-1{
    width: 50%;
}
#home-slide-1 h1,
#home-slide-1 p{
    width: 100%;
}
footer > *,
#section-about,
#home-slide{
    width: 100%;
    height: 100%;
}
#news-slide{
    width: 80%;
}
.cm-card{
    width: 100%;
    overflow: hidden;
    border-radius: 2vmax;
    border-bottom-right-radius: 0;
}
header,
section,
#home-slide{
    padding: 10vh 5vw;
}
.cm-btn,
.cm-btn:hover,
button{
    padding: 10px 10px;
    border-radius: 20px;
}
#contact-map iframe{
    border-radius: 10px;
}
footer #f-line{
    background: #CDCCCC;
    width: 80%;
    height: 1px;
}
#news-slide{
    margin: 100px auto;
}
/*DISPLAY*/
#slide-arrows{
    display: none;
}
#home-slide-1,
body > *,
section,
footer,
footer #f-content,
#home-slide{
    display: flex;
}
#partners-list,
#news-slide{
    display: grid;
}
/*EFECTS*/
nav a{
    transition: 3s;
}
/*BACKGROUND IMAGE*/
#section-about{
    background-size: cover;
}
#section-home{
    background-image: url('../jpg/back-home-1.jpg');
}
#home-slide{
    background: url('../png/back-home-2.png') no-repeat bottom;
}
#section-about{
    background: url('../png/back-about.png') no-repeat bottom;
}
#section-news{
    background: url('../png/back-news.png') no-repeat bottom;
}
#section-partners{
    background: url('../png/back-partners-bottom.png') no-repeat bottom, url('../png/back-partners-top.png') no-repeat top;
}
#home-slide,
#section-news,
#section-partners{
    background-size: contain;
}
/*FLEX*/
#home-slide-1,
section,
footer,
footer #f-content,
#home-slide{
    align-items: center;
}
#home-slide-1,
section,
footer{
    justify-content: center;
}
footer #f-content{
    justify-content: space-around;
}
#home-slide-1,
section,
footer,
footer #f-content{
    flex-direction: column;
}
#partners-list,
#news-slide{
    grid-auto-rows: 1fr;
    grid-auto-flow: row;
    gap: 2vmax;
}